/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
   
#content_slider { background: url(images/spinner.gif) no-repeat center center #3c3c3c; height: 300px !important;  }
#content_slider.orbit { height: 300px; }
#content_slider img, #content_slider div { display: none; }
#content_slider.orbit img, #content_slider.orbit div { display: block;}


#orbitDemo { background: url(images/spinner.gif) no-repeat center center #000; height: 330px; margin-bottom: 45px; }
#orbitDemo.orbit { height: auto; }
#orbitDemo img, #orbitDemo div { display: none; }
#orbitDemo.orbit img, #orbitDemo.orbit div { display: block;}

@media handheld, only screen and (max-width: 767px) {

    dl.nice.tabs.mobile { margin-bottom: 0px; }
    .nice.tabs.mobile dd a { padding: 12px 20px; }
    div.foundation-header h1 { font-size: 32px; font-size: 3.2rem; }
}

@media handheld, only screen and (max-width: 400px) {
   #orbitDemo { max-height: 180px !important; }
    #orbitDemo.orbit { max-height: 180px !important; }
    
}

/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; 
    margin-bottom: 20px;}

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }
    
div.orbit.with-bullets {
    margin-bottom: 40px;
}

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */ }

div.orbit>a {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(images/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(images/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(images/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
    text-align: center;
    padding: 7px 0px;
    font-size: 13px;
    position: absolute;
    right: -3px;
    bottom: 3px;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 39px;
    height: 50px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -25px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url(images/right-arrow.png) no-repeat;
    right: -3px; }

div.slider-nav span.left {
    background: url(images/left-arrow.png) no-repeat;
    left: 3px; }


/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    bottom: -40px;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(images/bullets.png) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
    
/* FLUID LAYOUT
   ================================================== */
.orbit .fluid-placeholder {
  visibility: hidden;
  position: static;
  display: block;
  width: 100%;
}

.orbit, .orbit-wrapper { width: 100% !important; }

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    float: left;
    margin-left: 10px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(images/bullets2.png) no-repeat 0px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.has-thumb {
    background: none;
    width: 50px;
    height: 30px;
    margin-bottom: -1px; }

.orbit-bullets li.active {
    color: #222;
    background-position: -12px 0; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border: 2px solid #000; }
