/* iRibbon theme color red and green */

/* General */
a{color:#89946d;text-decoration:none}
a:hover{color:#93352F;text-decoration:none}
/* Half Nav */
#halfnav ul li a{
	color:#fff;
	background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
	border: 1px solid #6A8484;	
}
#halfnav ul li a:hover{	
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  border: 1px solid #8D5C38;
}
#halfnav li.current_page_item a{
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  border: 1px solid #8D5C38;
}
#halfnav li.current_page_item ul li a {
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
	border: 1px solid #6A8484;
}

/* Pagination */
.pagination span, .pagination a {
  color:#fff;
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}
.pagination a:hover{
  color:#fff;
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.pagination .current{
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  color:#fff;
}

/* Mobile Nav */
#mobile-nav {
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}
#mobile-nav-modal .modal-footer {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
#mobile-nav-modal h3 {
  color:#93352F;
}

/* Nav */
#nav{
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}
#nav .current_page_item a{
  color:#E9E3BB;/*yellow*/
}
#nav ul.children li.current_page_item a,#nav ul.children a:hover{
  color:#89946d;/*green*/
}
#nav ul li > a:hover{
  color:#E9E3BB/*yellow*/
}
#nav li ul a{
  color:#93352F;/*red*/
  background:#fff
}
#nav li ul a:hover{
  color:#89946d;/*green*/
}
#nav > ul > li > ul {
  border-top:#89946d 1px solid;
  border-right:#89946d 1px solid;
  border-bottom:#89946d 1px solid;
  border-left:#89946d 1px solid;
}
#nav > ul > li > ul > li {
  border-bottom-color: #89946d;
}
#nav > ul > li > ul > li > ul li {
  border-top-color: #89946d;
}
#nav:before {
  border-color: #707959 transparent transparent transparent;
}
#nav:after {
  border-color: transparent transparent transparent #707959;
}

/* ribbons for nav */
.ribbon-left {
  background: #98a27b;
}
.ribbon-left-cut {
  background:url( '../../images/backgrounds/title-ribbon-left-green.png' ) no-repeat 0 0 transparent;
}
.ribbon-right {
  background: #98a27b
}
.ribbon-right-cut {
  background:url( '../../images/backgrounds/title-ribbon-right-green.png' ) no-repeat 0 0 transparent;
}

/* Ribbons */

/* content ribbons with left sidebar */
.sd_left_sidebar div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_left_sidebar div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}
.sd_left_sidebar div.ribbon-more {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_left_sidebar div.ribbon-more:after {
  border-color: transparent transparent transparent #561e1e;
}

/* content ribbons with right sidebar */
.sd_right_sidebar div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_right_sidebar div.ribbon-more {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_right_sidebar div.ribbon-more:after {
  border-color: transparent transparent transparent #561e1e;
}
.sd_right_sidebar div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}

/* sidebar ribbons */

.ribbon-bg-blue {
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}
.ribbon-bg-blue:before {
  border-color: #707959 transparent transparent transparent;
}
.ribbon-bg-blue:after {
  border-color: transparent transparent transparent #707959;
}
.ribbon-left-blue {
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}
.ribbon-right-blue {
  background: #b5c48d;
  background: -moz-linear-gradient(top,  #b5c48d 0%, #89946d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c48d), color-stop(100%,#89946d));
  background: -webkit-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -o-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: -ms-linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  background: linear-gradient(top,  #b5c48d 0%,#89946d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c48d', endColorstr='#89946d',GradientType=0 );
}

/* sidebar right ribbon styling */

#sidebar div.ribbon-cut-blue {
  background: url( '../../images/backgrounds/sidebar-ribbon-right-green.png' ) no-repeat 0 0;
}

/* sidebar left ribbon styling */

#sidebar_left div.ribbon-cut-blue {
  background: url( '../../images/backgrounds/sidebar-ribbon-left-green.png' ) no-repeat 0 0;
}

/* ELEMENTS */

/* Callout */
#callout_text {
  color:#E9ECC9;
}
.calloutrow {
  background: #89946d;
  border-top: 3px solid #707959;
  border-bottom: 3px solid #707959;
}
.calloutrow a {
  color: #561e1e;
}
.calloutrow a:visited {
  color: #561e1e;
}
.calloutrow a:hover {
  color: #93352F;
}

/* Carousel */
.es-carousel ul li .image-container {
  border:3px solid #89946d;
}
.es-nav span{
	background:transparent url('../../images/carousel-nav-red.png') no-repeat top left;
}
.es-carousel ul li:hover div.carousel_caption {color: #93352F; /*red*/}

/* Twitter */
#twitterbar {
  background: url('../../images/backgrounds/twitter-green.png') no-repeat 0 0;
}
.twittertext a:link {
  color: #93352F; /*red*/
}
.twittertext a:visited {
  color: #93352F; /*red*/
}
.twittertext a:hover {
  color:#89946d;/*green*/
}
.twittertext {
border: 5px solid #b5c48d;/*green*/
color: #333;
background: #E9E3BB;/*yellow*/
}
.twittertext:before {
border-color: #b5c48d transparent;/*green*/
}
.twittertext:after {
border-color: #E9E3BB transparent;/*yellow*/
}
.twittertriangle:before {
border-color: transparent #b5c48d;/*green*/
}
.twittertriangle:after {
border-color: transparent #E9E3BB;/*yellow*/
}

/* Widget Box */
.iribbon-box {
}
.box-widget-title {
	color: #E9E3BB;/*yellow*/
}
.boxes-row div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}

.boxes-row div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}
.boxes-row div.ribbon-top-end {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.boxes-row div.ribbon-top-end:after {
  border-color: transparent transparent transparent #561e1e;
}
.boxes-row .textwidget {
	color: #E9E3BB;/*yellow*/
  background: #89946d; /*green*/
}
/* bottom ribbons used in boxes */ 

.ribbon-bottom {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.ribbon-bottom:before {
  border-color: transparent #561e1e transparent transparent;
}
.ribbon-bottom-end {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.ribbon-bottom-end:before {
  border-color: transparent transparent #561e1e transparent;
}
.boxes-row a {
  color: #561e1e;
}
.boxes-row a:visited {
  color: #561e1e;
}
.boxes-row a:hover {
  color: #93352F;
}
/* orbit slider border color */
#orbitDemo {
  border: 3px solid #b5c48d;
}